# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
env/
venv/
.python-version

# IDE / Editor files
.idea/
*.swp
*.swo

# Logs
*.log

# Data folders (optional: don't commit large input files)
data/input/
data/output/

.pytest_cache/
